// MAIN.SCSS

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: url('../images/cursor.png'), auto;
}

* {
  box-sizing: border-box;
  font-family: $font-family;
  transition: all .2s ease;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

p {
  line-height: 2em;
  font-size: .89em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

section {
  padding: 3em 0;
  overflow: hidden;
  @media #{$screen-sm} {
    padding: 4.5em 0;
  }
  @media #{$screen-md} {
    padding: 6em 0;
  }
}

.grit-overlay {
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/grit-overlay.png');
    top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
  }
}

p, h1, h2, h3, h4, h5, h6, label, a {
  &::selection {
    background: $black; /* WebKit/Blink Browsers */
    color: $white;
  }
  &::-moz-selection {
    background: $black; /* Gecko Browsers */
    color: $white;
  }
}

.container {
  margin: 0 auto;
  max-width: 90%;
  width: 1000px;
}
.wide-container {
  margin: 0 auto;
  max-width: 90%;
  width: 1200px;
}

.hide {
  display: none;
}

.info {
  display: flex;
  flex-wrap: wrap;
  &-box {
    border: solid $border $black;
    padding: 40px;
    border-top: 0;
    text-align: center;
    &:first-child {
      border: solid $border $black;
    }
    h1, h2, h3, h4 {
      margin: 0;
    }
    &.box {
      &-title, &-section-title {
        position: relative;
        text-align: center;
        margin-top: 0;
        &:before, &:after {
          content: '';
          width: 40px;
          display: block;
          background: url('../images/lines.png');
          background-repeat: repeat-y;
          background-size: 100% auto;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:after {
          left: auto;
          right: 0;
        }
      }
      &-title {
        padding: 40px;
        @media #{$screen-sm} {
          padding: 60px 40px;
        }
      }
      &-subtext, &-section-title {
        width: 100%;
        display: flex;
        padding: 15px 35px;
        align-items: center;
        justify-content: center;
      }
      &-subtext {
        letter-spacing: .2em;
        h4 {
          font-family: $font-family;
          font-weight: 500;
          font-size: .72em;
          @media #{$screen-sm} {
            font-size: .89em;
          }
        }
      }
      &-section-title {
        h4 {
          font-size: 1.175em;
        }
      }
      &-text {
        text-align: left;
        p {
          &:first-child { margin-top:    0; }
          &:last-child  { margin-bottom: 0; }
        }
      }
      &-button {
        display: flex;
        align-items: flex-end;
      }
    }
  } 
}

.section-title {
  text-align: center;
  font-size: 2em;
  letter-spacing: .15em;
  margin-bottom: 40px;
  @media #{$screen-sm} {
    font-size: 2.375em;
  }
}

.section-sub-title {
  width: 100%;
  padding: 0 0 15px;
  align-items: center;
  margin-top: -30px;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  display: none;
  h4 {
    margin: 0;
    font-family: $font-family;
    font-weight: 500;
    font-size: .89em;
    letter-spacing: .3em;
  }
  @media #{$screen-sm} { 
    display: flex;
  }
}

.box-line {
  border-top: solid $border $black;
  display: none;
  flex: 1;
  margin: 0 20px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  @media #{$screen-sm} {
    min-width: 40px;
    display: block;
  }
}

.text-block {
  max-width: 100%;
  text-align: center;
  h2 {
    font-family: 'neonoire';
    font-weight: 100;
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: -20px;
  }
  @media #{$screen-sm} {
    h2 {
      font-size: 4.06em;
      margin-bottom: -30px;
    }
  }
  @media #{$screen-md} {
    width: 450px;
    text-align: left;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .form-input {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    @media #{$screen-sm} {
      width: 48%;
    }
    &:before {
      content: '';
      width: 40px;
      display: block;
      background: url('../images/lines.png');
      background-repeat: repeat-y;
      background-size: 100% auto;
      height: 55px;
      position: absolute;
      bottom: 4px;
      left: 4px;
    }
    &-submit {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;
      &:before {
        display: none;
      }
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: .89em;
      letter-spacing: .1em;
      span {
        color: $brand-primary;
        font-size: 1em;
      }
    }
    .form-control {
      border: solid $border $black;
      padding: $button-padding;
      outline: none;
      width: 100%;
      padding-left: 65px;
      padding-right: 30px;
      background: transparent;
      color: $brand-primary;
      font-family: $ff-oswald;
      font-weight: 100;
      font-size: 1em;
      letter-spacing: .1em;
      + .selected {
        background: url('../images/splatter.svg');
        display: block;
        width: 124px;
        height: 134px;
        position: absolute;
        top: -18px;
        left: -59px;
        z-index: -1;
        opacity: 0;
        transition: .2s ease;
      }
      &:focus + .selected {
        opacity: 1;
      }
    }
  }
}

.toggle-audio {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: $white;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: .2;
  transition: all .2s ease;
  &:hover {
    opacity: 1
  }
  img {
    &.hidden {
      display: none;
    }
  }
}

.konami{
  &, & * {
    font-family: Comic Sans MS !important;
    cursor: url('../images/flashlight_cursor.png'), auto !important;
  }
  #mask-overlay {
    box-shadow:0 0 0 9999px rgba(0,0,0,.92);
    height:450px;
    width:450px;
    position:absolute;
    pointer-events: none;
    background: $black; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba($black,.3) 20%, rgba($black,.92) 50%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba($black,.3) 20%,rgba($black,.92) 50%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba($black,.3) 20%,rgba($black,.92) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#e6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 900;
  }
}

.honors {
  position: fixed;
  top: 15px;
  left: 0px;
  z-index: 1000;
  .award {
    display: none;
  }

  .toggle-awards {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .2;
    transition: all .2s ease;
    &:hover {
      opacity: 1
    }
    img {
      &.hidden {
        display: none;
      }
    }

    &.show-awards {
      ~ .award {
        display: block;
      }
    }
  }

  .opl {
    width: 65px;
    height: 47px;
    text-indent: -9999px;
    background: url('https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png') no-repeat;
  }

  .awwwards {
    width: 73px;
    height: 110px;
    text-indent: -9999px;
    background: url('../images/awwwards_honorable_black_left@2x.png') no-repeat;
    background-size: 100%;
  }

  .cssdesign {
    width: 73px;
    height: 86px;
    text-indent: -9999px;
    background: url('../images/cssda-special-kudos-left-r.png') no-repeat;
    background-size: 100%;
  }
}