// footer
.main-footer {
  overflow: hidden;
  padding: 6em 0;
  background-image: url('../images/black-bg.jpg');
  background-attachment: fixed;
  color: rgba($white, .7);
  text-align: center;
  position: relative;
  @media #{$screen-md} {
    height: 390px;
  }
  &:before, &:after {
    content: '';
    display: none;
    background: url('../images/keyboard.png') no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 650px;
    max-width: 90%;
    height: 220px;
    pointer-events: none;
    left: 50%;
    bottom: 0;
    position: absolute;
    margin-left: -325px;
    @media #{$screen-md} {
      display: block;
    }
  }
  &:after {
    background: url('../images/mouse.png') no-repeat;
    width: 180px;
    height: 295px;
    background-size: contain;
    margin-left: 328px;
    top: 40px;
    @media #{$screen-md} {
      display: none;
    }
    @media #{$screen-lg} {
      display: block;
    }
  }
  p {
    font-size: .7em;
    line-height: 2em;
    font-weight: 100;
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 150px;
      margin-left: -75px;
      left: 50%;
      top: -50px;
      background: url('../images/dxf_symbol.svg') no-repeat;
      background-size: 100%;
      height: 135px;
      z-index: -1;
    }
  }
  a {
    color: rgba($white, .7);
  }
}